@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;1,600&display=swap');

:root{
  --primary-color: #e55f3d;
  --secoandry-color: #eeeeee;
  --font-color: #67696c;
  --font-muted-color: #919191;
  --border-radius: 15px;
  --large-font-size: 1.4rem;
  --medium-font-size: .8rem;
  --small-font-size: .7rem;
}

* , *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Montserrat',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img{
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: var(--secoandry-color);
  border-radius: var(--border-radius);
}


.box{
  background-color: var(--secoandry-color);
  padding: 1px 0px;
  border-radius: var(--border-radius);
}

.text-small{
  font-size: var(--small-font-size);
  font-weight: lighter;
}

.text-muted{
  color: var(--font-muted-color);
}

.text-white{
  color: white;
}

.fa-ellipsis-h{
  font-size: var(--large-font-size);
  font-weight: normal;
}


.fa-plus{
  margin-top: 7px;
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: relative;
}

.fa-plus::before{
  content: "\f067";
  position: absolute;
  top: 5px;
  right: 5px;
  
}

::-webkit-scrollbar{
  display: none;
}

.card{
  transition: .3s all ease;
}

.card:hover{
  box-shadow: 0 0 20px rgba(165, 165, 165, 0.596);
  cursor: pointer;
}